/* SVG Styles */
path {
    stroke: #fff;
}

text {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    fill: #000;
}

/* Dropdown Styles */
#citySelect {
    font-size: 14px;
    padding: 5px;
}

/* Container Styles */
#initial-visualization {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center align the content horizontally */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%; /* Ensure the header spans the full width */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center align the text within the navigation */
  }
  
  nav ul li {
    display: inline-block; /* Display list items as inline blocks */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block; /* Make links block-level for full clickable area */
  }
  
  nav ul li a:hover {
    background-color: #555; /* Highlight background color on hover */
  }
  
  .explanation {
    color: #333;
    padding: 10px;
    position: absolute;
    top: 130px; /* Adjust the distance from the bottom */
    width: 100%;
  }
  
  